@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/pagination";

.filter-green{
    filter: invert(46%) sepia(76%) saturate(446%) hue-rotate(125deg) brightness(92%) contrast(90%);
}

.filter-gray{
    filter: invert(81%) sepia(10%) saturate(147%) hue-rotate(180deg) brightness(95%) contrast(88%);
}

/*Animation*/
.animation-enter{
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  animation: animation-enter 0.5s ease-out forwards;
}

@keyframes animation-enter {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.95);
  }
  60% {
    opacity: 1;
    transform: translateY(-5px) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}